<script type="application/json" data-section-type="product-template" data-section-id="{{ section.id }}">
</script>

<section class="section">
    <div class="container">
        {%
                render 'product',
                context: 'product',
                product: product,
                variant: product.selected_or_first_available_variant
        %}
    </div>
</section>


{% schema %}
{
	"name": "Product information",
	"class": "shopify-section--product-template is-product-main content",
	"settings": [
	
	],
	"blocks": [
		{
			"type": "@app"
		},
		
		{
			"type": "custom-liquid",
			"name": "Custom liquid",
			"settings": [
				{
					"type": "liquid",
					"id": "custom_liquid",
					"label": "Custom liquid"
				}
			]
		},
		{
			"type": "description",
			"name": "Description",
			"limit": 1
		},
		{
			"type": "form",
			"name": "Form",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "Customize form features for the product in the products portion of the theme settings."
				}
			]
		},
		{
			"type": "popup",
			"name": "Pop-up",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "text",
					"label": "Text",
					"default": "Pop-up link text"
				},
				{
					"type": "select",
					"id": "text_alignment",
					"label": "Text alignment",
					"default": "left",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						}
					]
				},
				{
					"type": "page",
					"id": "page",
					"label": "Page",
					"info": "[Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006910707-Using-the-Size-Chart-Sections-themes-)"
				}
			]
		},
		{
			"type": "price",
			"name": "Price",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "display_savings",
					"label": "Show price savings",
					"default": true
				}
			]
		},
		{
			"type": "product-links",
			"name": "Product links",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "show_collections",
					"label": "Show collections",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "show_types",
					"label": "Show types",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "show_tags",
					"label": "Show tags",
					"default": true
				}
			]
		},
		{
			"type": "rating",
			"name": "Product rating",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "To display a rating, add a product rating app. [Learn more](https://apps.shopify.com/product-reviews)"
				}
			]
		},
		{
			"type": "sku",
			"name": "SKU",
			"limit": 1
		},
		{
			"type": "share",
			"name": "Share",
			"limit": 1
		},
		{
			"type": "tabs",
			"name": "Tabs",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "show_product_description",
					"label": "Show product description",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "show_tabs_below_product_gallery",
					"label": "Show tabs below product gallery",
					"info": "Desktop only",
					"default": false
				},
				{
					"type": "header",
					"content": "Tab"
				},
				{
					"type": "text",
					"id": "tab_heading_1",
					"label": "Heading",
					"default": "Tab 1"
				},
				{
					"type": "richtext",
					"id": "tab_text_1",
					"label": "Text",
					"default": "<p>Use this text to share information about your product.</p>"
				},
				{
					"type": "header",
					"content": "Tab"
				},
				{
					"type": "text",
					"id": "tab_heading_2",
					"label": "Heading",
					"default": "Tab 2"
				},
				{
					"type": "richtext",
					"id": "tab_text_2",
					"label": "Text",
					"default": "<p>Use this text to share information about your product.</p>"
				},
				{
					"type": "header",
					"content": "Tab"
				},
				{
					"type": "text",
					"id": "tab_heading_3",
					"label": "Heading",
					"default": "Tab 3"
				},
				{
					"type": "richtext",
					"id": "tab_text_3",
					"label": "Text",
					"default": "<p>Use this text to share information about your product.</p>"
				}
			]
		},
		{
			"type": "text",
			"name": "Text",
			"settings": [
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default": "<p>Text block</p>"
				}
			]
		},
		{
			"type": "title",
			"name": "Title",
			"limit": 1
		},
		{
			"type": "vendor",
			"name": "Vendor",
			"limit": 1
		},
		{
			"type": "complementary_products",
			"name": "Complementary products",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "To select complementary products, add the Search & Discovery app. [Learn more](https:\/\/shopify.dev\/themes\/product-merchandising\/recommendations)"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Pairs well with"
				},
				{
					"type": "range",
					"id": "product_recommendation_limit",
					"label": "Maximum products to show",
					"min": 1,
					"max": 10,
					"default": 5
				},
				{
					"type": "range",
					"id": "products_per_slide",
					"label": "Number of products per page",
					"min": 1,
					"max": 3,
					"default": 2
				}
			]
		}
	]
}

{% endschema %}