<script type="application/json" data-section-type="product-template" data-section-id="{{ section.id }}">
</script>

<section class="section section-{{ section.id }}">
	<div class="section__inner">
		<div class="section__header">

		</div>

		<div class="section__content">
			{%
					render 'product', context: 'product', product: product,
					variant: product.selected_or_first_available_variant
			%}
		</div>
		<div class="section__footer">

		</div>
	</div>
</section>



{% schema %}
{
	"name": "Product information",
	"class": "shopify-section--product-template",
	"settings": [

	],
	"blocks": [
		{
			"type": "@app"
		},

		{
			"type": "custom-liquid",
			"name": "Custom liquid",
			"settings": [
				{
					"type": "liquid",
					"id": "custom_liquid",
					"label": "Custom liquid"
				}
			]
		},
		{
			"type": "description",
			"name": "Description",
			"limit": 1
		},
		{
			"type": "form",
			"name": "Form",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "Customize form features for the product in the products portion of the theme settings."
				}
			]
		},

		{
			"type": "price",
			"name": "Price",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "display_savings",
					"label": "Show price savings",
					"default": true
				}
			]
		},

		{
			"type": "rating",
			"name": "Product rating",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "To display a rating, add a product rating app. [Learn more](https://apps.shopify.com/product-reviews)"
				}
			]
		},
		{
			"type": "sku",
			"name": "SKU",
			"limit": 1
		},
		{
			"type": "text",
			"name": "Text",
			"settings": [
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default": "<p>Text block</p>"
				}
			]
		},
		{
			"type": "title",
			"name": "Title",
			"limit": 1
		},
		{
			"type": "vendor",
			"name": "Vendor",
			"limit": 1
		},

	]
}

{% endschema %}